* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
}

.container {
  width: 980px;
  margin: 0 auto;
}
